.vscode
.tscache

bin
build
dist/test
docs
src
coverage
test

.gitignore
.npmignore
Gruntfile.js

.coveralls.yml
.editorconfig
.travis.yml
docs.conf.json
karma.conf.js
serve.js

x.js
x.js.map

# Travis
travis.yml

# Batch
*.cmd

# TypeScript
tsconfig.json
*.ts

# ESLint
.eslintignore
.eslintrc.js
